vdTelemetrySchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="VDT">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="environment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date" type="xs:string"/>
                            <xs:element name="time" type="xs:string"/>
                            <xs:element name="weather" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="temperature">
                                            <xs:complexType>
                                                <xs:attribute name="min" type="xs:integer" use="required"/>
                                                <xs:attribute name="max" type="xs:integer" use="required"/>
                                                <xs:attribute name="current" type="xs:integer" use="required"/>
                                                <xs:attribute name="unit" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vehicle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="speed">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:float">
                                            <xs:attribute name="unit" type="xs:string" use="required"/>
                                            <xs:attribute name="direction" type="DriveDirection" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="brand">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string"/>
                                    <xs:attribute name="title" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="operatingTime">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="unit" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="motor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="temperatur">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:integer">
                                                        <xs:attribute name="min" type="xs:integer" use="required"/>
                                                        <xs:attribute name="max" type="xs:integer" use="required"/>
                                                        <xs:attribute name="unit" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="rpm">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:integer">
                                                        <xs:attribute name="min" type="xs:integer" use="required"/>
                                                        <xs:attribute name="max" type="xs:integer" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="load">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="min" type="xs:integer" use="required"/>
                                                        <xs:attribute name="max" type="xs:integer" use="required"/>
                                                        <xs:attribute name="unit" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="gear">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="isNeutral" type="xs:boolean"
                                                                      use="required"/>
                                                        <xs:attribute name="group" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="maxSpeed">
                                            <xs:complexType>
                                                <xs:attribute name="forward" type="xs:integer"/>
                                                <xs:attribute name="backward" type="xs:integer"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fillUnits">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fuel">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="type" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="title" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="unit" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="capacity" type="xs:integer"
                                                                                  use="required"/>
                                                                    <xs:attribute name="fillLevelPercentage"
                                                                                  type="xs:integer" use="required"/>
                                                                    <xs:attribute name="usage" type="xs:float"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="def" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="title" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="unit" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="capacity" type="xs:integer"
                                                                                  use="required"/>
                                                                    <xs:attribute name="fillLevelPercentage"
                                                                                  type="xs:integer" use="required"/>
                                                                    <xs:attribute name="usage" type="xs:float"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="air" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="title" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="unit" type="xs:string"
                                                                                  use="required"/>
                                                                    <xs:attribute name="capacity" type="xs:integer"
                                                                                  use="required"/>
                                                                    <xs:attribute name="fillLevelPercentage"
                                                                                  type="xs:integer" use="required"/>
                                                                    <xs:attribute name="usage" type="xs:float"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="state" type="MotorState" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="lights" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="indicator">
                                            <xs:complexType>
                                                <xs:attribute name="left" type="xs:boolean" use="required"/>
                                                <xs:attribute name="right" type="xs:boolean" use="required"/>
                                                <xs:attribute name="hazard" type="xs:boolean" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="beaconLight">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:boolean"/>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="light">
                                            <xs:complexType>
                                                <xs:attribute name="lowBeam" type="xs:boolean" use="required"/>
                                                <xs:attribute name="highBeam" type="xs:boolean" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="workLight">
                                            <xs:complexType>
                                                <xs:attribute name="front" type="xs:boolean" use="required"/>
                                                <xs:attribute name="back" type="xs:boolean" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="gps" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                    <xs:attribute name="active" type="xs:boolean" use="required"/>
                                    <xs:attribute name="heading" type="xs:integer" use="required"/>
                                    <xs:attribute name="headingUnit" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ai" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="active" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="cruiseControl" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="targetSpeed" type="xs:integer"/>
                                    <xs:attribute name="active" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="foldable" type="FoldableStateType" minOccurs="0"/>
                            <xs:element name="isTurnedOn" type="xs:boolean" minOccurs="0"/>
                            <xs:element name="lowered" type="xs:boolean" minOccurs="0"/>
                            <xs:element name="fillUnits" type="FillUnitsType" minOccurs="0"/>
                            <xs:element name="pipe" type="PipeStateType" minOccurs="0"/>
                            <xs:element name="cover" type="CoverType" minOccurs="0"/>
                            <xs:element name="wearable" type="WearableType" minOccurs="0"/>
                            <xs:element name="implement" type="ImplementType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="combined">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fillUnits" type="FillUnitsType" minOccurs="0"/>
                                        <xs:element name="wearable" type="WearableType"/>
                                        <xs:element name="implement">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="front" type="CombinedImplementState"
                                                                minOccurs="0"/>
                                                    <xs:element name="back" type="CombinedImplementState"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="DriveDirection">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORWARD"/>
            <xs:enumeration value="BACKWARD"/>
            <xs:enumeration value="STOPPED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MotorState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFF"/>
            <xs:enumeration value="STARTING"/>
            <xs:enumeration value="ON"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Define the enumeration type for foldable states -->
    <xs:simpleType name="FoldableStateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FOLDED"/>
            <xs:enumeration value="EXTENDED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Define the enumeration type for pipe states -->
    <xs:simpleType name="PipeStateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RETRACTED"/>
            <xs:enumeration value="EXTENDED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Define the enumeration type for pipe states -->
    <xs:simpleType name="CoverType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOSED"/>
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Define the type for wearable elements -->
    <xs:complexType name="WearableType">
        <xs:attribute name="damage" type="xs:integer" use="required"/>
        <xs:attribute name="wear" type="xs:integer" use="required"/>
        <xs:attribute name="dirt" type="xs:integer" use="required"/>
        <xs:attribute name="unit" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Define the type for fillUnit elements -->
    <xs:complexType name="FillUnitType">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <xs:attribute name="type" type="xs:string" use="required"/>
                <xs:attribute name="title" type="xs:string" use="required"/>
                <xs:attribute name="unit" type="xs:string" use="required"/>
                <xs:attribute name="capacity" type="xs:integer" use="required"/>
                <xs:attribute name="fillLevelPercentage" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Define the type for fillUnits container -->
    <xs:complexType name="FillUnitsType">
        <xs:sequence>
            <xs:element name="fillUnit" type="FillUnitType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Define the type for implement front section -->
    <xs:complexType name="CombinedImplementState">
        <xs:sequence>
            <xs:element name="foldable" type="FoldableStateType" minOccurs="0"/>
            <xs:element name="isTurnedOn" type="xs:boolean" minOccurs="0"/>
            <xs:element name="lowered" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ImplementType">
        <xs:sequence>
            <xs:element name="foldable" type="FoldableStateType" minOccurs="0"/>
            <xs:element name="isTurnedOn" type="xs:boolean" minOccurs="0"/>
            <xs:element name="lowered" type="xs:boolean" minOccurs="0"/>
            <xs:element name="fillUnits" type="FillUnitsType" minOccurs="0"/>
            <xs:element name="pipe" type="PipeStateType" minOccurs="0"/>
            <xs:element name="cover" type="xs:boolean" minOccurs="0"/>
            <xs:element name="wearable" type="WearableType" minOccurs="0"/>
            <!-- Self-reference - implements can contain other implements -->
            <xs:element name="implement" type="ImplementType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="position" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>


</xs:schema>